/*
    Document   : mozilla_openbadges_displayer
    Created on : 18 Apr, 2013, 5:20:57 PM
    Author     : Kulbhushan
    Description: Purpose of the stylesheet follows.
*/
.user-mozilla-badges ul.user-mozilla-badges-item-list {
  list-style: none;
  float: left;
  clear: both;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.user-mozilla-badges ul.user-mozilla-badges-item-list li {
  float: left;
}
.user-mozilla-badges ul.user-mozilla-badges-item-list li img {
  width: 75px;
  height: 75px;
}
h1.user-mozilla-badges-groupname,
div.block-mozilla-openbadges-displayer h2 {
  text-transform: capitalize;
}
